APP_NAME=internetMyShop
APP_ENV=docker
APP_KEY=base64:V4vvI5Ke8Urc5W9WjKfqTy6o2r3E3+b7eJJW7V9g0PQ=
APP_DEBUG=true
DEBUGBAR_ENABLED=false
APP_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3001
APP_TIMEZONE=Europe/Moscow

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=internetmyshop_docker
DB_USERNAME=internetmyshop
DB_PASSWORD=internetmyshop

MYSQL_DATABASE=internetmyshop_docker
MYSQL_USER=internetmyshop
MYSQL_PASSWORD=internetmyshop
MYSQL_ROOT_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=
SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3001,127.0.0.1,127.0.0.1:8080

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=array
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"
