/node_modules
/public/hot
/public/storage
/storage/phpstan/
/storage/framework/cache/phpstan/
/storage/framework/tmp/
/storage/*.key
/vendor
.idea/
.env
.env.docker
.env.backup
.phpunit.cache/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
apps/web/node_modules/
apps/web/.nuxt/
apps/web/.output/
database/playwright.sqlite
